<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Курсор-GPS</title>

    <link rel="Shortcut Icon" href="../image/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href=" https://unpkg.com/leaflet@1.6.0/dist/leaflet.css "
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js'></script>

    <script src=" https://unpkg.com/leaflet@1.6.0/dist/leaflet.js "
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="/css/calendar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
    <div class="loaders">
        <div class="loaders-globe"></div>
        <div class="loaders-progress"></div>
    </div>
    <div class="popup-background"></div>

    <div class="set_form">
        <div class="set_form_name">
            <div class="set_form_header">Добавить контакты</div>
            <div class="close_settings_form"><i class="fas fa fa-times w30"></i></div>
        </div>
        <div class="set_form_body">
            <input class="form_input_set email_set" placeholder="Добавьте email">
            <input class="form_input_set phone_set" placeholder="Добавьте телефон  7XXXXXXXXX">
        </div>
        <div class="set_form_button"><i class="saveIcon fas fa-sd-card"></i> Сохранить</div>
    </div>
    <div class="confirm">
        <div class="header_confirm">Настройки<i class="fas fa fa-times"></i></div>
        <div class="body_confirm">Настройки сохранены</div>
    </div>
    <div class="sensors">
        <div class="headerconfig">
            <div class="textconfig">Конфигуратор параметров</div><i class="fas fa fa-times w30 closeIconConfig"></i>
        </div>
        <div class="wrapsens">
            <div class="wrapper_button">
                <button class="btnsens"><i class="fas fa-life-ring ic"></i> Давление</button>
                <button class="btnsens"><i class="fas fa-temperature-high ic"></i> Температура</button>
                <button class="btnsens"><i class="fas fa-table ic"></i> Параметры</button>
                <div class="engineEvent">
                    <p class="title_p">&#402;</p><input class="tsiControll" value="">
                </div>
                <div class="koef">
                    <p class="title_p">Коэф.</p><input class="changeParams" value="1">
                </div>
            </div>
            <div class="title_sens">Параметры:</div>
            <ul class="obo">
            </ul>
        </div>
    </div>


    <!-- Блок Preloader 
    <div class=" preloader">
        <div class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>
    </div>-->


    <header class="header">
        <div class="headerLogoMenu">
            <div class="logotip">
                <img class="logo"
                    src="https://static.tildacdn.com/tild3330-6536-4662-a364-386639656261/Asset_1log3_1.svg">
            </div>
            <div class="menu">
                <a class="monitoring dash" rel="dash" href="#"><i class="w20 fas fa-chart-pie"></i>Дашборд</a>
                <a class="monitor" href="#"><i class="w20 fas fa-desktop"></i>Мониторинг</a>
                <a class="monitoring karta" rel="karta" href="#"><i class="w20 fas fa-map-marked-alt"></i>Карта</a>
                <a class="monitoring char" rel="char" href="#"><i class="w20 fas fa-chart-line"></i>Графики</a>
                <a class="monitoring reports" rel="reports" href="#"><i class="w20 fas fa-print"></i>Отчеты</a>
                <a class="monitoring sklad" rel="sklad" href="#"><i class="w20 fas fa-industry"></i>Склад</a>
            </div>
        </div>
        <div class="main_menu">
            <div class="menu_burger"></div>
            <div class="menu_burger"></div>
            <div class="menu_burger"></div>
        </div>

        <div class="headerAdmin">
            <div class="control_panel">
                <a class="settings"></a>
                <a class="configs">Конфигуратор</a>

            </div>
            <div class="logs">
                <div class="num"></div>
            </div>
            <%-include('profile') %>
        </div>
    </header>
    <div class="comeback">
        <div class="iconStrela"></div>
        <p class="titleName"></p>
    </div>
    <div class="wrapperFull">
        <div class="wrapper_right_dash">
            <div class="boards">
                <div class="dashPressure">
                    <div class="dash_card">
                        <h2 class="dash_title">
                            Соотношение отклонений по давлению
                        </h2>
                    </div>
                    <div class="configChange">
                        <form class="check_box">
                            <p class="p"><input class="input" type="checkbox" rel="" value="Все" id="Все" checked>Все
                            </p>
                        </form>
                    </div>
                </div>
                <div class="dashProtector">
                    <div class="dash_card prot">
                        <h2 class="dash_title">
                            Состояние/износ
                        </h2>
                    </div>
                    <div class="configChange">
                        <form class="check_box">
                            <p class="p"><input class="inputProt" type="checkbox" rel="" value="Все" id="ВсеProt"
                                    checked>Все
                            </p>
                        </form>
                    </div>
                </div>
                <div class="dashStatus">
                    <div class="dash_card stat">
                        <h2 class="dash_title">
                            Статус
                        </h2>
                    </div>

                </div>
            </div>
        </div>
        <section class="sections">
            <div class="popupsections-background"></div>
            <div class="leftFrame">
                <div class="wrapList">
                    <div class="list_att">
                        <div class="list_item_list list_item1"><i class="fa fa-check globalcheck"></i>Список объектов
                        </div>
                        <div class="viewIcon title_list_global list_item_list newColumn iconOpacity" rel="statusnew"><i
                                class="dzin fas fa-satellite-dish"></i>
                            <div class="tipe"><i class="mleft tOff fas fa-toggle-off"></i><i
                                    class="mleft tOn fas fa-toggle-on"></i></div>
                        </div>
                        <div class="viewIcon title_list_global list_item_list newColumn iconOpacity" rel="ingine"><i
                                class="dzin fas fa-key"></i>
                            <div class="tipe"><i class="mleft tOff fas fa-toggle-off"></i><i
                                    class="mleft tOn fas fa-toggle-on"></i></div>
                        </div>
                        <div class="viewIcon title_list_global list_item_list newColumn conditionSort" rel="condition">
                            <i class="dzin fas fa-compress-arrows-alt"></i>
                            <div class="tipe"><i class="mleft tOff fas fa-toggle-off"></i><i
                                    class="mleft tOn fas fa-toggle-on"></i></div>
                            <i class="iconsort fas fa-power-off"></i>
                            <div class="sortCondition">
                                <i class="fas fa-arrow-alt-circle-right grays 01g" rel="01g"></i>
                                <i class="fas fa-pause-circle grays 02g" rel="02g"></i>
                                <i class="fas fa-parking grays 03g" rel="03g"></i>
                            </div>
                        </div>
                        <div class="viewIcon title_list_global list_item_list  list_item2" rel="pressure tagach"><i
                                class="doch dzin fas fa-truck-pickup"></i>
                            <div class="tipe doch"><i class="mleft tOff fas fa-toggle-off"></i><i
                                    class="mleft tOn fas fa-toggle-on"></i></div>
                        </div>
                        <div class="viewIcon title_list_global list_item_list  list_item3" rel="pressure pricep"><i
                                class="doch dzin fas fa-trailer"></i>
                            <div class="tipe doch"><i class="mleft tOff fas fa-toggle-off"></i><i
                                    class="mleft tOn fas fa-toggle-on"></i></div>
                        </div>


                        <div class="viewIcon title_list_global list_item_list newColumn" rel="oil"><i
                                class="dzin fas fa-gas-pump"></i>
                            <div class="tipe"><i class="mleft tOff fas fa-toggle-off"></i><i
                                    class="mleft tOn fas fa-toggle-on"></i></div>
                        </div>
                        <div class="viewIcon title_list_global list_item_list newColumn" rel="pwr"><i
                                class="dzin fas fa-car-battery"></i>
                            <div class="tipe"><i class="mleft tOff fas fa-toggle-off"></i><i
                                    class="mleft tOn fas fa-toggle-on"></i></div>
                        </div>
                        <div class="viewIcon title_list_global list_item_list newColumn" rel="sats"><i
                                class="dzin fas fa-satellite"></i>
                            <div class="tipe"><i class="mleft tOff fas fa-toggle-off"></i><i
                                    class="mleft tOn fas fa-toggle-on"></i></div>
                        </div>
                        <div class="viewIcon title_list_global list_item_list newColumn textType sortType" rel="type">
                            <i class="dzin fas fa-truck-moving"></i>
                            <div class="tipe"><i class="mleft tOff fas fa-toggle-off"></i><i
                                    class="mleft tOn fas fa-toggle-on"></i></div>
                            <i class="iconsortType fas fa-power-off"></i>
                            <ul class="sortConditionType">
                                <li class="item_type"><i class="fas fa-check graysType"></i>
                                    <p class="text_type">Фура</p>
                                </li>
                                <li class="item_type"><i class="fas fa-check graysType"></i>
                                    <p class="text_type">Самосвал</p>
                                </li>
                                <li class="item_type"><i class="fas fa-check graysType"></i>
                                    <p class="text_type">Самосвал-Полуприцеп</p>
                                </li>
                                <li class="item_type"><i class="fas fa-check graysType"></i>
                                    <p class="text_type">Фургон</p>
                                </li>
                                <li class="item_type"><i class="fas fa-check graysType"></i>
                                    <p class="text_type">Тягач</p>
                                </li>
                                <li class="item_type"><i class="fas fa-check graysType"></i>
                                    <p class="text_type">Кран</p>
                                </li>
                                <li class="item_type"><i class="fas fa-check graysType"></i>
                                    <p class="text_type">Цистерна</p>
                                </li>
                            </ul>

                        </div>
                        <div class="viewIcon title_list_global list_item_list newColumn textType" rel="meliage"><i
                                class="dzin fab fa-flickr"></i>
                            <div class="tipe"><i class="mleft tOff fas fa-toggle-off"></i><i
                                    class="mleft tOn fas fa-toggle-on"></i></div>
                        </div>
                        <div class="viewIcon title_list_global list_item_list newColumn list_item2" rel="lasttime"><i
                                class="dzin fas fa-history"></i>
                            <div class="tipe"><i class="mleft tOff fas fa-toggle-off"></i><i
                                    class="mleft tOn fas fa-toggle-on"></i></div>
                        </div>

                    </div>
                    <div class="low_list">
                    </div>

                </div>

                <div class="visualGrafics">
                    <div class="blockRigth">
                        <ul class="legend">
                            <h4 class="titleLegend">Легенда графиков</h4>
                            <li class="itemsLegend"></li>
                            <li class="itemsLegend"></li>
                            <li class="itemsLegend"></li>
                            <li class="itemsLegend"></li>
                            <li class="itemsLegend"></li>
                            <li class="itemsLegend"></li>
                            <li class="itemsLegend"></li>
                            <li class="itemsLegend"></li>
                            <li class="itemsLegend"></li>
                            <li class="itemsLegend"></li>
                            <li class="itemsLegend"></li>
                            <li class="itemsLegend"></li>
                        </ul>
                        <div class="speedGraf">
                            <div class="form_speed">
                                <label>Интервал
                                    <select class="select_speed">
                                        <option disabled selected value="0">Указанный интервал</option>
                                        <option class="option_int" value="1">За вчера</option>
                                        <option class="option_int" value="2">За неделю</option>
                                        <option class="option_int" value="3">За месяц</option>
                                    </select>
                                </label>
                                <label>Календарь
                                    <input type="text" id="daterange" placeholder="Выберите диапазон дат">
                                </label>
                                <div class="btn_speedStart">
                                    <button class="btm_form">Очистить</button>
                                    <button class="btm_form control">Выполнить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="rigthFrame secondFlash">
            <div class="strR">&#10095</div>
            <div class="strL">&#10094</div>
        </div>
        <div class="start">
            <div class="content_card samosval-pricep">
                <div class="left_block">
                    <div class="up_block">
                        <div class="foto_car logosamosval-pricep"></div>
                        <div class="rigth_block">
                            <div class="titleCheck"></div>
                        </div>
                    </div>
                    <div class="table_dannie">
                        <div class="title_interval">
                            <div class="tacs name_interval">Параметры</div>
                            <div class="tac today">Сегодня</div>
                            <div class="tac select_dannie"><select class="select_summary one">
                                    <option class="option_sam_pr" selected value="Вчера">Вчера</option>
                                    <option class="option_sam_pr" value="Неделя">Неделя</option>
                                    <option class="option_sam_pr" value="Месяц">Месяц</option>
                                    <option class="option_sam_pr cal" value="Выбрать дату">Выбрать дату</option>
                                </select>
                                <div class="calendar">
                                    <input type="text" id="dateranges1" placeholder="Выберите диапазон дат">
                                    <div class="btn_speedStart">
                                        <button class="btm_formStart">Очистить</button>
                                        <button class="btm_formStart control">Выполнить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tac select_dannie"><select class="select_summary two">
                                    <option class="option_sam" value="Вчера">Вчера</option>
                                    <option class="option_sam" selected value="Неделя">Неделя</option>
                                    <option class="option_sam" value="Месяц">Месяц</option>
                                    <option class="option_sam cal" value="Выбрать дату">Выбрать дату</option>
                                </select>
                                <div class="calendar">
                                    <input type="text" id="dateranges3" placeholder="Выберите диапазон дат">
                                    <div class="btn_speedStart">
                                        <button class="btm_formStart">Очистить</button>
                                        <button class="btm_formStart control">Выполнить</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <ul class="table_pokazateli" rel="Самосвал-Полуприцеп">
                            <li class="li_table">
                                <div class="tacs name_list">Общее количество ТС</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Общее количество ТС в работе</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Общий пробег, км.</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Топливо расход, л.</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Топливо заправлено, л.</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Количество разгрузок</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Время работы</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Время простоя на холостом ходу</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Время полезной работы</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Средний расход топлива на 100км, л.</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Расход на холостом ходу</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="content_card samosval">
                <div class="left_block">
                    <div class="up_block">
                        <div class="foto_car logosamosval"></div>
                        <div class="rigth_block">
                            <div class="titleCheck"></div>
                        </div>
                    </div>
                    <div class="table_dannie">
                        <div class="title_interval">
                            <div class="tacs name_interval">Параметры</div>
                            <div class="tac today">Сегодня</div>
                            <div class="tac select_dannie"><select class="select_summary one">
                                    <option class="option_sam" selected value="Вчера">Вчера</option>
                                    <option class="option_sam" value="Неделя">Неделя</option>
                                    <option class="option_sam" value="Месяц">Месяц</option>
                                    <option class="option_sam cal" value="Выбрать дату">Выбрать дату</option>
                                </select>
                                <div class="calendar">
                                    <input type="text" id="dateranges2" placeholder="Выберите диапазон дат">
                                    <div class="btn_speedStart">
                                        <button class="btm_formStart">Очистить</button>
                                        <button class="btm_formStart control">Выполнить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tac select_dannie"><select class="select_summary two">
                                    <option class="option_sam" value="Вчера">Вчера</option>
                                    <option class="option_sam" selected value="Неделя">Неделя</option>
                                    <option class="option_sam" value="Месяц">Месяц</option>
                                    <option class="option_sam cal" value="Выбрать дату">Выбрать дату</option>
                                </select>
                                <div class="calendar">
                                    <input type="text" id="dateranges33" placeholder="Выберите диапазон дат">
                                    <div class="btn_speedStart">
                                        <button class="btm_formStart">Очистить</button>
                                        <button class="btm_formStart control">Выполнить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="table_pokazateli" rel="Самосвал">
                            <li class="li_table">
                                <div class="tacs name_list">Общее количество ТС</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Общее количество ТС в работе</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Общий пробег, км.</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Топливо расход, л.</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Топливо заправлено, л.</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Количество разгрузок</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Время работы</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Время простоя на холостом ходу</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Время полезной работы</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Средний расход топлива на 100км, л.</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                            <li class="li_table">
                                <div class="tacs name_list">Расход на холостом ходу</div>
                                <div class="tac today_value">-</div>
                                <div class="tac interval_value">-</div>
                                <div class="tac interval_value2">-</div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="content_card ex"></div>
            <div class="content_card furgon"></div>
        </div>
        <section class="allsec globalDash"></section>
        <section class="allsec globalMaps">
            <div class="settingsMap">
                <div class="titleSettingsMap"><i class="fas fa-cogs"></i></div>
                <div class="containerSettingsMap">
                    <div class="checkTypeMarkers"><i class="fas fa-check checkMarkers"></i><span>Тип</span></div>
                    <div class="checkTypeMarkers"><i class="fas fa-check checkMarkers"></i>Подпись</div>

                </div>
            </div>
            <div class="tableInfoCar">
                <div class="containerInfoMap">
                    <div class="itemInfoGlobal allCar" rel="Всего объектов"></div>
                    <div class="itemInfo activeObjectMap" rel="Маркер на карте"></div>
                    <div class="itemInfo onlineCar" rel="Нет связи с ТС"></div>
                    <div class="itemInfo moveCar" rel="Движется"></div>
                    <div class="itemInfo pauseCar" rel="Остановка"></div>
                    <div class="itemInfo stopCar" rel="Стоянка"></div>
                </div>
            </div>
        </section>
        <section class="allsec globalCharts">Графики</section>
        <section class="allsec globalReports">Отчеты</section>
        <section class="allsec globalSklad">Склад</section>
        <main class="main">
            <div class="update_time">
            </div>
            <div class="centerBlock">
                <div class="headerMain">
                    <div class="wrap_alarm">
                        <div class="mainAlarm">Уведомления</div>
                        <div class="plus"></div>
                        <div class="minus"></div>
                        <div class="ogon"></div><!--&#128293-->
                        <div class="alarmStorage">
                            <p class="spanTitle alarmHeader">Уведомления отклонений по давлению</p>
                            <div class="tbody">
                            </div>
                        </div>
                    </div>
                    <div class="headerTitle">
                        <div class="modals plug">Давл. Темп.</div>
                    </div>
                    <div class="headerTitle state">
                        <div class="modals plug state_tyres">Состояние шин</div>
                    </div>

                    <div class="headerTitle">
                        <div class="plug">Графики</div>
                    </div>

                </div>
                <div class="wrapper_right">
                    <div class="left_icons">
                        <div class="icon_card speed_card" id="speed-card" rel="Текущая скорость">
                            <p class="card_value speed_value"></p>
                        </div>
                        <div class="icon_card ign_card" id="ign-card" rel="Зажигание">
                            <p class="card_value ign_value"></p>
                        </div>
                        <div class="icon_card tsi_card" id="tsi-card" rel="Двигатель">
                            <p class="card_value tsi_value"></p>
                        </div>
                        <div class="icon_card ohl_card" id="ohl-card" rel="Температура в системе охлаждения двигателя">
                            <p class="card_value ohl_value"></p>
                        </div>
                        <div class="icon_card odom_card" id="odom-card" rel="Одометр">
                            <p class="card_value odom_value"></p> <!--00000858 rv-->
                        </div>
                        <div class="icon_card to_card" id="to-card" rel="Осталось до ТО">
                            <p class="card_value to_value"></p>
                        </div>
                        <!--
                        <div class="icon_card pl">
                            <div class="card_img pl_card" id="pll2-card"></div>
                            <p class="card_value"></p>
                        </div>
                        <div class="icon_card pl">
                            <div class="card_img pl_card" id="pll3-card"></div>
                            <p class="card_value"></p>
                        </div>-->
                    </div>
                    <div class="config">
                        <div class="container_left">
                            <div class="controll">
                                <%-include('control') %>
                            </div>
                        </div>
                        <div class="wrapper_containt">
                            <div class="infosCenter"></div>
                            <div class="header_car">
                                <div class="title_status">Статус: <div class="status_obj"></div>
                                </div>
                                <h2 class="title_two"></h2>
                            </div>

                            <div class="side">
                                <div class="itemSide">L</div>


                                <div class="checkAlt">
                                    <input type="checkbox" name="checkbox_name" value="checkbox_value" id="check_Title">
                                    <label for="check_Title">Конфигуратор</label>
                                </div>
                                <div class="itemSide">R</div>
                            </div>
                            <select class="select_type">
                                <option class="option_type" disabled selected value="0">Тип ТС</option>
                                <option class="option_type" value="1">Фура</option>
                                <option class="option_type" value="2">Самосвал</option>
                                <option class="option_type" value="2">Самосвал-Полуприцеп</option>
                                <option class="option_type" value="4">Фургон</option>
                                <option class="option_type" value="5">Тягач</option>
                                <option class="option_type" value="6">Кран</option>
                                <option class="option_type" value="7">Цистерна</option>
                            </select>
                            <div class="altConfig">
                                <div class="disketa">
                                    <div class="disk"></div>
                                    <div class="buttOnConfig">
                                        <div class="galSave"></div>
                                        <div class="otmSave"></div>
                                    </div>
                                </div>
                                <div class="korzina">
                                    <div class="korz"></div>
                                    <div class="buttOnConfig">
                                        <div class="galClear"></div>
                                        <div class="otmClear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tarir">
                                <div class="foto">
                                    <div class="bochka"></div>
                                    <!--<div class="shkala"></div>-->
                                </div>
                                <!--  <div class="chartTarir"></div>-->
                            </div>



                            <div class="modalCenterOs">
                                <div class="modalTitle">
                                    <div class="titlePropOs">
                                        <span class="modalNameOs">Ось : </span>
                                        <span class="modalNumberOs"></span>
                                    </div>
                                    <div class="titlestroke">
                                        <div class="spanStroke">Bar</div>
                                        <div class="spanStroke">%</div>
                                    </div>
                                </div>
                                <ul class="modalList">
                                    <li class="modalItem">
                                        <p class="modalText" id="norma">Норма, БАР</p>
                                        <div class="inputs">
                                            <input class="modalInput normal" maxlength="3" step="0.1" type="text"
                                                placeholder="">
                                            <div class="modalInputProcent">100</div>
                                        </div>
                                    </li>
                                    <li class="modalItem">
                                        <p class="modalText" id="dnmin">Давление в норме min</p>
                                        <div class="inputs">
                                            <div class="modalInputProcent divfinal"></div>
                                            <input class="modalInput inpfinal" type="text" placeholder="95">
                                        </div>
                                    </li>
                                    <li class="modalItem">
                                        <p class="modalText" id="dnmax">Давление в норме max</p>
                                        <div class="inputs">
                                            <div class="modalInputProcent divfinal"></div>
                                            <input class="modalInput inpfinal" type="text" placeholder="105">
                                        </div>
                                    </li>
                                    <li class="modalItem">
                                        <p class="modalText" id="dnn">Давление ниже нормы</p>
                                        <div class="inputs">
                                            <div class="modalInputProcent divfinal"></div>
                                            <input class="modalInput inpfinal" type="text" placeholder="94.9">
                                        </div>
                                    </li>
                                    <li class="modalItem">
                                        <p class="modalText" id="dvn">Давление выше нормы</p>
                                        <div class="inputs">
                                            <div class="modalInputProcent divfinal"></div>
                                            <input class="modalInput inpfinal" type="text" placeholder="105.1">
                                        </div>
                                    </li>
                                    <li class="modalItem">
                                        <p class="modalText" id="knd">Критически низкое давление</p>
                                        <div class="inputs">
                                            <div class="modalInputProcent divfinal"></div>
                                            <input class="modalInput inpfinal" type="text" placeholder="79.9">
                                        </div>
                                    </li>
                                    <li class="modalItem">
                                        <p class="modalText" id="kvd">Критически высокое давление</p>
                                        <div class="inputs">
                                            <div class="modalInputProcent divfinal"></div>
                                            <input class="modalInput inpfinal" type="text" placeholder="120.1">
                                        </div>
                                    </li>
                                </ul>
                                <div class="lowBTN">
                                    <div class="divModalBTN"> <button class="btnModal">Сохранить</button>
                                    </div>
                                    <div class="divModalClearBTN"><button class="btnModalClear">Сброс
                                            настроек</button>
                                    </div>
                                    <span class="mess">Введите параметр давления!</span>
                                </div>
                                <span class="modalClear">&#10006</span>
                            </div>
                            <div class="contKran">
                                <div class="kran">
                                    <canvas id="krans" width="180" height="180"></canvas>
                                </div>
                                <div class="objCar">
                                    <div class="argRed"></div>
                                    <div class="argGreen"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rigth_icons">
                        <div class="icon_card akb_card" id="akb-card" rel="Бортовое напряжение">
                            <p class="card_value akb_value1"></p>
                        </div>
                        <div class="icon_card oborot_card" id="oborot-card" rel="Обороты двигателя">
                            <p class="card_value oborot_value"></p>
                        </div>
                        <div class="icon_card oil_card" id="oil-card" rel="Топливо в баке">
                            <p class="card_value oil_value1"></p>
                        </div>
                        <div class="icon_card toil_card" id="toil-card" rel="Температура топлива в баке">
                            <p class="card_value toil_value"></p>
                        </div>
                        <div class="icon_card moto_card" id="moto-card" rel="Счетчик моточасов">
                            <p class="card_value moto_value"></p>
                        </div>
                        <div class="icon_card toMoto_card" id="toMoto-card" rel="Осталось до ТО">
                            <p class="card_value toMoto_value"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rigthFrame secondFlash">
                <div class="strR">&#10095</div>
                <div class="strL">&#10094</div>
            </div>
            <div class="techInfo">
                <h2 class="techTitle">Основные показатели колеса</h2>
                <% if (role!=='Пользователь' ) { %><%-include('modalTechNoTDRMX') %>
                        <% } %>
                            <% if (role=='Пользователь' ) { %><%-include('modalTechTDRMX') %>
                                    <% } %>
                                        <div class="radioVal">
                                            <div class="wrarbtn"><button class="buttonTth">Сохранить</button></div>
                                            <div class="radioModule">
                                                <p>Сторона колеса</p>
                                                <p><input class="radio" name="radio" type="radio" id='1' value="left"
                                                        checked>
                                                    Левое</p>
                                                <p><input class="radio" name="radio" type="radio" id="rigth"
                                                        value="rigth">
                                                    Правое</p>
                                            </div>
                                        </div>
                                        <div class="protector">
                                            <div class="title_prot">График замера протектора</div>
                                            <div class="progressBar2">
                                                <!--      <p class="mm12">12mm</p>-->
                                                <div class="maxMMM"><span class='mmtext'>16mm</span></div>
                                                <!--      <p class="mm6">6mm</p>-->
                                                <p class="mm0">0mm</p>
                                                <div class="contBar22">
                                                    <canvas id="drawLine2" height="60"></canvas>
                                                </div>
                                                <div class="contBar22">
                                                    <canvas id="drawLine3" height="60"></canvas>
                                                </div>
                                                <div class="contBar22">
                                                    <canvas id="drawLine4" height="60"></canvas>
                                                </div>
                                            </div>
                                            <div class="headerMM">
                                                <div class="titleMM N1">
                                                    <div class="number"></div>
                                                    <p class="text"></p>
                                                </div>
                                                <div class="titleMM N2">
                                                    <div class="number"></div>
                                                    <p class="text"></p>
                                                </div>
                                                <div class="titleMM N3">
                                                    <div class="number"></div>
                                                    <p class="text"></p>
                                                </div>
                                                <div class="titleMM N4">
                                                    <div class="number"></div>
                                                    <p class="text"></p>
                                                </div>
                                            </div>
                                        </div>
            </div>
            <div class="tableTarir">
                <h2 class="techTitle">Тарировочная таблица
                </h2>
                <span class="authClearTarir">&#10006</span>
                <div class="name_car"></div>
                <div class="selescCraeteList">
                    <div class="title_name">Кол-во:</div>
                    <input class="createList" maxlength="2" placeholder="0">
                    <div class="plu"></div>
                    <div class="mi"></div>
                </div>
                <div class="tablePokasateli">
                </div>
                <div class="btnLow">

                    <div class="buttOnTarirDisk"></div>
                    <div class="buttOnTarir">
                        <div class="buttOnTarirTitle">Сохранить данные?</div>
                        <div class="gal"></div>
                        <div class="otm"></div>
                    </div>
                </div>

            </div>
            <div class="wrapper_left">
                <div class="wrapper_up">
                    <div class="settings_track"><i class="fas fa-road  togTrack" rel="Построить трек"></i></div>
                </div>

                <div class="windowStatistic">
                    <div class="navigatorStatic">
                        <div class="navstat jobTSDetalisation activStatic" id="nav1">Время работы ТС детально</div>
                        <div class="navstat jobTS" id="nav2">Время работы ТС</div>
                        <div class="navstat oilTS" id="nav3">Топливо</div>
                        <div class="navstat meliageTS" id="nav4">Пробег</div>
                    </div>

                </div>
            </div>
            <div class="grafics">
                <div class="nav_graf">
                    <div class="menu_graf">Давление</div>
                    <div class="menu_graf">Топливо</div>
                    <div class="menu_graf">Скорость</div>
                </div>

                <!--   <div class="im1"></div>-->
                <div class="noGraf">Нет данных за последние 24 часа</div>
                <div class="loader">Загрузка...</div>
            </div>

    </div>
    </main>
    <div class="settings_users">
        <div class="header_title_settings">
            <p class="info_settings">Настройки</p>
            <div class="close_settings"><i class="fas fa fa-times"></i></div>
        </div>
        <div class="container_settings">
            <div class="nav_settings">
                <ul class="list_settings">
                    <li class="item_settings set_one" rel="set_one"><i class="w30 fas fa-user-cog"></i> Настройка прав
                        доступа</li>
                    <li class="item_settings set_two" rel="set_two"><i class="w30  fas fa-list-ul"></i> Отображение
                        списка
                    </li>
                    <li class="item_settings set_four" rel="set_four"><i class="w30  fas fa-mobile-alt"></i> Контакты
                    </li>
                    <li class="item_settings set_three" rel="set_three"><i class="w30  fas fa-bell"></i> Уведомления
                    </li>
                </ul>
            </div>
            <div class="content_setting">
                <div class="content_set account">
                    <div class="accountControl">
                        <h3 class="titleAccount">Настройка прав доступа</h3>
                        <div class="low_modal">
                            <div class="singUpForm">
                                <h4 class="titleForm">Форма регистрации</h4>
                                <div class="sigup">
                                    <%-include('signup') %>
                                </div>
                            </div>
                            <div class="listAccount">
                                <h4 class="titleForm">Список пользователей</h4>
                                <div class="listAccountReal">
                                    <li class="usersTitle"><span class="loginTitle">Логин</span><span
                                            class="roleTitle">Права
                                        </span> </li>

                                </div>
                            </div>
                            <span class="authClear">&#10006</span>
                        </div>
                        <p class="message"></p>
                        <div class="clearConfirm">
                            <p class="messagee">Удалить пользователя?</p>
                            <div class="da">Удалить</div>
                            <div class="net">Отмена</div>
                        </div>
                    </div>
                    <div class="profilUser">
                        <h3 class="titleAccount">Профиль пользователя</h3>
                        <div class="centerWrapper">
                            <div class="loginUser">
                                <div class="titleLogin">Логин</div>
                                <div class="nameUser"></div>
                            </div>
                            <div class="roleUser">
                                <div class="titleRole">Права доступа</div>
                                <div class="userRole"></div>
                            </div>
                            <div class="objectUser">
                                <div class="titleObject">Объекты</div>
                                <form class="check_boxs">
                                    <p class="listTitless"><input class="checkIn" type="checkbox" rel="" value="all"
                                            id="all" checked>Все
                                    </p>
                                </form>

                            </div>
                        </div>
                        <p class="messagech"></p>
                        <div class="btnClick">
                            <div class="okey">OK</div>
                            <div class="close">Закрыть</div>
                        </div>
                        <div class="clearConfirmCheckModal">
                            <div class="messageeCheck">Сохранить изменения?</div>
                            <div class="dad">Да</div>
                            <div class="nent">Отмена</div>
                        </div>

                    </div>

                </div>
                <div class="content_set listView">
                    <h3 class="titleAccount">Настройка отображения списка</h3>
                    <div class="content_list_settings">
                        <ul class="listBar">
                            <li class="uniqBar">
                                <input type="checkbox" id="statusnew" checked>
                                <i class="fas fa-satellite-dish f"></i><label class="label_item"
                                    for="checkbox3">Статус</label><span class="description">состояние
                                    offline/online</span>
                            </li>
                            <li class="uniqBar">
                                <input type="checkbox" id="ingine" checked>
                                <i class="fas fa-key f"></i> <label class="label_item"
                                    for="checkbox5">Зажигание</label><span class="description">включено/выключено
                                    зажигание</span>
                            </li>
                            <li class="uniqBar">
                                <input type="checkbox" id="condition" checked>
                                <i class="fas fa-compress-arrows-alt f"></i> <label class="label_item" for="checkbox2">
                                    Состояние</label><span class="description">описание статуса объекта (движется,
                                    парковка, ТС не на связи)</span>
                            </li>
                            <li class="uniqBar">
                                <input type="checkbox" id="pressure" checked>
                                <i class="fas fa-life-ring f"></i> <label class="label_item" for="checkbox1">
                                    Давление
                                </label><span class="description">давление в колесах</span>
                            </li>


                            <li class="uniqBar">
                                <input type="checkbox" id="oil" checked>
                                <i class="fas fa-gas-pump f"></i> <label class="label_item"
                                    for="checkbox4">Топливо</label><span class="description">остаток топлива в
                                    баке</span>
                            </li>
                            <li class="uniqBar">
                                <input type="checkbox" id="pwr" checked>
                                <i class="fas fa-car-battery f"></i> <label class="label_item"
                                    for="checkbox8">Питание</label><span class="description">бортовое питание</span>
                            </li>
                            <li class="uniqBar">
                                <input type="checkbox" id="sats" checked>
                                <i class="fas fa-satellite f"></i> <label class="label_item" for="checkbox6">
                                    Спутники</label><span class="description">количество спутников</span>
                            </li>
                            <li class="uniqBar">
                                <input type="checkbox" id="type" checked>
                                <i class="fas fa-truck-moving f"></i> <label class="label_item"
                                    for="checkbox9">Тип</label><span class="description">принадлежность ТС к выбранному
                                    типу</span>
                            </li>
                            <li class="uniqBar">
                                <input type="checkbox" id="meliage" checked>
                                <i class="fab fa-flickr f uniqF"></i> <label class="label_item"
                                    for="checkbox7">Пробег</label><span class="description">пробег ТС</span>
                            </li>

                            <li class="uniqBar">
                                <input type="checkbox" id="lasttime" checked>
                                <i class="dzin fas fa-history f"></i> <label class="label_item"
                                    for="checkbox10">Актуальность данных</label><span class="description">время
                                    последнего обновления</span>
                            </li>


                        </ul>
                    </div>

                    <div class="buttonSaveSettings"> <i class="saveIcon fas fa-sd-card"></i> Сохранить настройки</div>
                </div>
                <div class="content_set contactSet">
                    <h3 class="titleAccount">Настройка оповещений</h3>
                    <div class="content_list_settings">
                        <div class="contact_set_add">
                            <div class="header_contact">
                                <li class="usersTitleSet">
                                    <div class="emailTitle">Email</div>
                                    <div class="phoneTitle">Телефон</div>
                                    <div class="addContact">Добавить контакт <i class="fas fa-plus conF"></i>
                                    </div>
                                </li>
                            </div>
                            <div class="body_set">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="content_set notification">
                    <h3 class="titleAccount">Настройка уведомлений</h3>
                    <div class="content_list_settings">
                        <table class="tableAlarmSet">
                            <thead>
                                <tr>
                                    <th class="upSet">События</th>
                                    <th class="upSet even" rel="email">Email</th>
                                    <th class="upSet even" rel="alert">Alert</th>
                                    <th class="upSet even" rel="what">Whatsapp</th>
                                    <th class="upSet even" rel="teleg">Telegram</th>
                                    <th class="upSet even" rel="sms">СМС</th>
                                </tr>
                            </thead>
                            <tbody class="tbodySet">
                                <tr class="lineSet">
                                    <td class="downSet nameSet"><i class="fas fa-parking alarmF"></i>Простой</td>
                                    <td class="downSet celEven" rel="email"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="alert"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="what"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="teleg"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="sms"><input type="checkbox"></td>
                                </tr>
                                <tr class="lineSet">
                                    <td class="downSet nameSet"><i class="fas fa-gas-pump alarmF"></i>Заправка</td>
                                    <td class="downSet celEven" rel="email"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="alert"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="what"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="teleg"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="sms"><input type="checkbox"></td>
                                </tr>
                                <tr class="lineSet">
                                    <td class="downSet nameSet"><i class="fas fa-fill-drip alarmF"></i>Слив</td>
                                    <td class="downSet celEven" rel="email"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="alert"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="what"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="teleg"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="sms"><input type="checkbox"></td>
                                </tr>
                                <tr class="lineSet">
                                    <td class="downSet nameSet"><i class="fas fa-life-ring alarmF"></i>Давление</td>
                                    <td class="downSet celEven" rel="email"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="alert"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="what"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="teleg"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="sms"><input type="checkbox"></td>
                                </tr>
                                <tr class="lineSet">
                                    <td class="downSet nameSet"><i
                                            class="fas fa-temperature-high alarmF"></i>Температура</td>
                                    <td class="downSet celEven" rel="email"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="alert"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="what"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="teleg"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="sms"><input type="checkbox"></td>
                                </tr>
                                <tr class="lineSet">
                                    <td class="downSet nameSet"><i class="fab fa-soundcloud alarmF"></i>Потеря связи
                                    </td>
                                    <td class="downSet celEven" rel="email"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="alert"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="what"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="teleg"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="sms"><input type="checkbox"></td>
                                </tr>
                                <tr class="lineSet">
                                    <td class="downSet nameSet"><i class=" fas fa-wrench alarmF"></i>Техобслуживание
                                    </td>
                                    <td class="downSet celEven" rel="email"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="alert"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="what"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="teleg"><input type="checkbox"></td>
                                    <td class="downSet celEven" rel="sms"><input type="checkbox"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="buttonSaveSettings"> <i class="saveIcon fas fa-sd-card"></i> Сохранить настройки</div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <footer class="footer">
        <div class="mobile_nav">
            <ul class="mobile_list">
                <li class="mobile_item mobile_spisok"><a class="mobile_link" href="#">Список</a></li>
                <li class="mobile_item  mobile_static"><a class="mobile_link" href="#">Статистика</a></li>
                <li class="mobile_item mobile_config"><a class="mobile_link" href="#">Конфигуратор</a></li>
                <li class="mobile_item mobile_map"><a class="mobile_link" href="#">Карта</a></li>
            </ul>
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://hst-api.wialon.com/wsdk/script/wialon.js"></script>
    <script type="module" src="/js/main.js"></script>

</body>

</html>