<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Прототип интерфейса</title>

    <link rel="Shortcut Icon" href="../image/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href=" https://unpkg.com/leaflet@1.6.0/dist/leaflet.css "
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js'></script>

    <script src=" https://unpkg.com/leaflet@1.6.0/dist/leaflet.js "
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="/css/calendar.css" />

</head>

<body>
    <!-- Блок Preloader -->
    <div class=" preloader">
        <div class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>
    </div>

    <header class="header">
        <div class="logotip">
            <img class="logo" src="https://static.tildacdn.com/tild3330-6536-4662-a364-386639656261/Asset_1log3_1.svg">
        </div>
        <div class="menu">
            <a class="monitoring dash" href="#">Дашборд</a>
            <a class="monitoring monitor" href="#">Мониторинг</a>
            <a class="monitoring sklad" href="#">Склад</a>
        </div>
        <div class="burger">
            <div class="menu_burger"></div>
            <div class="menu_burger"></div>
            <div class="menu_burger"></div>
            <!--<div class="menu_burger"></div>-->
        </div>
        <% if (role!=='Пользователь' ) { %><%-include('admin') %>
                <% } %>

                    <%-include('profile') %>
    </header>
    <div class="comeback">
        <div class="iconStrela"></div>
        <p class="titleName"></p>
    </div>
    <div class="wrapperFull">
        <div class="wrapper_right_dash">
            <div class="boards">
                <div class="dashPressure">
                    <div class="dash_card">
                        <h2 class="dash_title">
                            Соотношение отклонений по давлению
                        </h2>
                    </div>
                    <div class="configChange">
                        <form class="check_box">
                            <p class="p"><input class="input" type="checkbox" rel="" value="Все" id="Все" checked>Все
                            </p>
                        </form>
                    </div>
                </div>
                <div class="dashProtector">
                    <div class="dash_card prot">
                        <h2 class="dash_title">
                            Состояние/износ
                        </h2>
                    </div>
                    <div class="configChange">
                        <form class="check_box">
                            <p class="p"><input class="inputProt" type="checkbox" rel="" value="Все" id="ВсеProt"
                                    checked>Все
                            </p>
                        </form>
                    </div>
                </div>
                <div class="dashStatus">
                    <div class="dash_card stat">
                        <h2 class="dash_title">
                            Статус
                        </h2>
                    </div>

                </div>
            </div>
        </div>



        <section class="sections">
            <div class="wrapList">
                <div class="list_att">
                    <div class="list_item1">Машина</div>
                    <div class="list_item2">Тягач</div>
                    <div class="list_item3">Прицеп</div>
                </div>
            </div>
            <div class="sensors">
                <div class="wrapper_button">
                    <button class="btnsens">Давление</button>
                    <button class="btnsens">Температура</button>
                    <button class="btnsens">Параметры</button>
                    <div class="koef">
                        <p class="title_p">Коэф.</p><input class="changeParams" value="1">
                    </div>
                </div>
                <div class="title_sens">Параметры:</div>
                <ul class="obo">
                </ul>
            </div>
            <div class="visualGrafics">
                <div class="blockRigth">
                    <ul class="legend">
                        <h4 class="titleLegend">Легенда графиков</h4>
                        <li class="itemsLegend"></li>
                        <li class="itemsLegend"></li>
                        <li class="itemsLegend"></li>
                        <li class="itemsLegend"></li>
                        <li class="itemsLegend"></li>
                        <li class="itemsLegend"></li>
                        <li class="itemsLegend"></li>
                        <li class="itemsLegend"></li>
                        <li class="itemsLegend"></li>
                        <li class="itemsLegend"></li>
                        <li class="itemsLegend"></li>
                        <li class="itemsLegend"></li>
                    </ul>
                    <div class="speedGraf">
                        <div class="form_speed">
                            <label>Интервал
                                <select class="select_speed">
                                    <option disabled selected value="0">Указанный интервал</option>
                                    <option class="option_int" value="1">За сутки</option>
                                    <option class="option_int" value="2">За неделю</option>
                                    <option class="option_int" value="3">За месяц</option>
                                </select>
                            </label>
                            <label>Календарь
                                <input type="text" id="daterange" placeholder="Выберите диапазон дат">
                            </label>
                            <div class="btn_speed">
                                <button class="btm_form">Очистить</button>
                                <button class="btm_form control">Выполнить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="start"></div>
        <main class="main">
            <div class="update_time">
            </div>
            <div class="centerBlock">
                <div class="headerMain">
                    <div class="wrap_alarm">
                        <div class="mainAlarm">Уведомления</div>
                        <div class="plus"></div>
                        <div class="minus"></div>
                        <div class="ogon">&#128293</div>
                        <div class="alarmStorage">
                            <div class="tbody">
                            </div>
                        </div>
                    </div>
                    <div class="headerTitle">
                        <div class="modals plug">Давл. Темп.</div>
                    </div>
                    <div class="headerTitle state">
                        <div class="modals plug state_tyres">Состояние шин</div>
                    </div>

                    <div class="headerTitle">
                        <div class="plug">Графики</div>
                    </div>

                </div>
                <div class="wrapper_right">
                    <div class="left_icons">
                        <div class="icon_card speed_card" id="speed-card" rel="Текущая скорость">
                            <p class="card_value speed_value"></p>
                        </div>
                        <div class="icon_card ign_card" id="ign-card" rel="Зажигание">
                            <p class="card_value ign_value"></p>
                        </div>
                        <div class="icon_card tsi_card" id="tsi-card" rel="Двигатель">
                            <p class="card_value tsi_value"></p>
                        </div>
                        <div class="icon_card ohl_card" id="ohl-card" rel="Температура в системе охлаждения двигателя">
                            <p class="card_value ohl_value"></p>
                        </div>
                        <div class="icon_card odom_card" id="odom-card" rel="Одометр">
                            <p class="card_value odom_value"></p> <!--00000858 rv-->
                        </div>
                        <div class="icon_card to_card" id="to-card" rel="Осталось до ТО">
                            <p class="card_value to_value"></p>
                        </div>
                        <!--
                        <div class="icon_card pl">
                            <div class="card_img pl_card" id="pll2-card"></div>
                            <p class="card_value"></p>
                        </div>
                        <div class="icon_card pl">
                            <div class="card_img pl_card" id="pll3-card"></div>
                            <p class="card_value"></p>
                        </div>-->
                    </div>
                    <div class="config">
                        <div class="container_left">
                            <div class="controll">
                                <%-include('control') %>
                            </div>
                        </div>
                        <div class="wrapper_containt">
                            <div class="infosCenter"></div>
                            <div class="header_car">
                                <div class="title_status">Статус: <div class="status_obj"></div>
                                </div>
                                <h2 class="title_two"></h2>
                            </div>

                            <div class="side">
                                <div class="itemSide">L</div>
                                <div class="checkAlt">
                                    <input type="checkbox" name="checkbox_name" value="checkbox_value" id="check_Title">
                                    <label for="check_Title">Конфигуратор</label>
                                </div>
                                <div class="itemSide">R</div>
                            </div>
                            <div class="altConfig">
                                <div class="disketa">
                                    <div class="disk"></div>
                                    <div class="buttOnConfig">
                                        <div class="galSave"></div>
                                        <div class="otmSave"></div>
                                    </div>
                                </div>
                                <div class="korzina">
                                    <div class="korz"></div>
                                    <div class="buttOnConfig">
                                        <div class="galClear"></div>
                                        <div class="otmClear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tarir">
                                <div class="foto">
                                    <div class="bochka"></div>
                                    <!--<div class="shkala"></div>-->
                                </div>
                                <!--  <div class="chartTarir"></div>-->
                            </div>



                            <div class="modalCenterOs">
                                <div class="modalTitle">
                                    <div class="titlePropOs">
                                        <span class="modalNameOs">Ось : </span>
                                        <span class="modalNumberOs"></span>
                                    </div>
                                    <div class="titlestroke">
                                        <div class="spanStroke">Bar</div>
                                        <div class="spanStroke">%</div>
                                    </div>
                                </div>
                                <ul class="modalList">
                                    <li class="modalItem">
                                        <p class="modalText" id="norma">Норма, БАР</p>
                                        <div class="inputs">
                                            <input class="modalInput normal" maxlength="3" step="0.1" type="text"
                                                placeholder="">
                                            <div class="modalInputProcent">100</div>
                                        </div>
                                    </li>
                                    <li class="modalItem">
                                        <p class="modalText" id="dnmin">Давление в норме min</p>
                                        <div class="inputs">
                                            <div class="modalInputProcent divfinal"></div>
                                            <input class="modalInput inpfinal" type="text" placeholder="95">
                                        </div>
                                    </li>
                                    <li class="modalItem">
                                        <p class="modalText" id="dnmax">Давление в норме max</p>
                                        <div class="inputs">
                                            <div class="modalInputProcent divfinal"></div>
                                            <input class="modalInput inpfinal" type="text" placeholder="105">
                                        </div>
                                    </li>
                                    <li class="modalItem">
                                        <p class="modalText" id="dnn">Давление ниже нормы</p>
                                        <div class="inputs">
                                            <div class="modalInputProcent divfinal"></div>
                                            <input class="modalInput inpfinal" type="text" placeholder="94.9">
                                        </div>
                                    </li>
                                    <li class="modalItem">
                                        <p class="modalText" id="dvn">Давление выше нормы</p>
                                        <div class="inputs">
                                            <div class="modalInputProcent divfinal"></div>
                                            <input class="modalInput inpfinal" type="text" placeholder="105.1">
                                        </div>
                                    </li>
                                    <li class="modalItem">
                                        <p class="modalText" id="knd">Критически низкое давление</p>
                                        <div class="inputs">
                                            <div class="modalInputProcent divfinal"></div>
                                            <input class="modalInput inpfinal" type="text" placeholder="79.9">
                                        </div>
                                    </li>
                                    <li class="modalItem">
                                        <p class="modalText" id="kvd">Критически высокое давление</p>
                                        <div class="inputs">
                                            <div class="modalInputProcent divfinal"></div>
                                            <input class="modalInput inpfinal" type="text" placeholder="120.1">
                                        </div>
                                    </li>
                                </ul>
                                <div class="lowBTN">
                                    <div class="divModalBTN"> <button class="btnModal">Сохранить</button>
                                    </div>
                                    <div class="divModalClearBTN"><button class="btnModalClear">Сброс настроек</button>
                                    </div>
                                    <span class="mess">Введите параметр давления!</span>
                                </div>
                                <span class="modalClear">&#10006</span>
                            </div>
                            <div class="contKran">
                                <div class="kran">
                                    <canvas id="krans" width="180" height="180"></canvas>
                                </div>
                                <div class="objCar">
                                    <div class="argRed"></div>
                                    <div class="argGreen"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rigth_icons">
                        <div class="icon_card akb_card" id="akb-card" rel="Бортовое напряжение">
                            <p class="card_value akb_value1"></p>
                        </div>
                        <div class="icon_card oborot_card" id="oborot-card" rel="Обороты двигателя">
                            <p class="card_value oborot_value"></p>
                        </div>
                        <div class="icon_card oil_card" id="oil-card" rel="Топливо в баке">
                            <p class="card_value oil_value1"></p>
                        </div>
                        <div class="icon_card toil_card" id="toil-card" rel="Температура топлива в баке">
                            <p class="card_value toil_value"></p>
                        </div>
                        <div class="icon_card moto_card" id="moto-card" rel="Счетчик моточасов">
                            <p class="card_value moto_value"></p>
                        </div>
                        <div class="icon_card toMoto_card" id="toMoto-card" rel="Осталось до ТО">
                            <p class="card_value toMoto_value"></p>
                        </div>


                    </div>
                </div>
            </div>
            </secion>
            <div class="techInfo">
                <h2 class="techTitle">Основные показатели колеса</h2>
                <% if (role!=='Пользователь' ) { %><%-include('modalTechNoTDRMX') %>
                        <% } %>
                            <% if (role=='Пользователь' ) { %><%-include('modalTechTDRMX') %>
                                    <% } %>
                                        <div class="radioVal">
                                            <div class="wrarbtn"><button class="buttonTth">Сохранить</button></div>
                                            <div class="radioModule">
                                                <p>Сторона колеса</p>
                                                <p><input class="radio" name="radio" type="radio" id='1' value="left"
                                                        checked>
                                                    Левое</p>
                                                <p><input class="radio" name="radio" type="radio" id="rigth"
                                                        value="rigth">
                                                    Правое</p>
                                            </div>
                                        </div>
                                        <div class="protector">
                                            <div class="title_prot">График замера протектора</div>
                                            <div class="progressBar2">
                                                <!--      <p class="mm12">12mm</p>-->
                                                <div class="maxMMM"><span class='mmtext'>16mm</span></div>
                                                <!--      <p class="mm6">6mm</p>-->
                                                <p class="mm0">0mm</p>
                                                <div class="contBar22">
                                                    <canvas id="drawLine2" height="60"></canvas>
                                                </div>
                                                <div class="contBar22">
                                                    <canvas id="drawLine3" height="60"></canvas>
                                                </div>
                                                <div class="contBar22">
                                                    <canvas id="drawLine4" height="60"></canvas>
                                                </div>
                                            </div>
                                            <div class="headerMM">
                                                <div class="titleMM N1">
                                                    <div class="number"></div>
                                                    <p class="text"></p>
                                                </div>
                                                <div class="titleMM N2">
                                                    <div class="number"></div>
                                                    <p class="text"></p>
                                                </div>
                                                <div class="titleMM N3">
                                                    <div class="number"></div>
                                                    <p class="text"></p>
                                                </div>
                                                <div class="titleMM N4">
                                                    <div class="number"></div>
                                                    <p class="text"></p>
                                                </div>
                                            </div>
                                        </div>
            </div>
            <div class="tableTarir">
                <h2 class="techTitle">Тарировочная таблица
                </h2>
                <span class="authClearTarir">&#10006</span>
                <div class="name_car"></div>
                <div class="selescCraeteList">
                    <div class="title_name">Кол-во:</div>
                    <input class="createList" maxlength="2" placeholder="0">
                    <div class="plu"></div>
                    <div class="mi"></div>
                </div>
                <div class="tablePokasateli">
                </div>
                <div class="btnLow">

                    <div class="buttOnTarirDisk"></div>
                    <div class="buttOnTarir">
                        <div class="buttOnTarirTitle">Сохранить данные?</div>
                        <div class="gal"></div>
                        <div class="otm"></div>
                    </div>
                </div>

            </div>
            <div class="wrapper_left">
                <div class="wrapper_up">
                </div>

                <div class="windowStatistic">
                    <h3 class="titleStatic">Общая статистика</h3>
                    <div class="listStatic">
                        <div class="itemStatic">
                            <input class="nameStatic" maxlength="128">
                            <p class="valueStatic" id="v1"></p>
                            <span class="delIcon"></span>
                        </div>
                        <div class="itemStatic">
                            <input class="nameStatic" maxlength="128">
                            <p class="valueStatic" id="v2"></p>
                            <span class="delIcon"></span>
                        </div>
                        <div class="itemStatic">
                            <input class="nameStatic" maxlength="128">
                            <p class="valueStatic" id="v3"></p>
                            <span class="delIcon"></span>
                        </div>
                        <div class="itemStatic">
                            <input class="nameStatic" maxlength="128">
                            <p class="valueStatic" id="v4"></p>
                            <span class="delIcon"></span>
                        </div>
                        <div class="itemStatic">
                            <input class="nameStatic" maxlength="128">
                            <p class="valueStatic" id="v5"></p>
                            <span class="delIcon"></span>
                        </div>
                        <div class="itemStatic">
                            <input class="nameStatic" maxlength="128">
                            <p class="valueStatic" id="v6"></p>
                            <span class="delIcon"></span>
                        </div>
                        <div class="itemStatic">
                            <input class="nameStatic" maxlength="128">
                            <p class="valueStatic" id="v7"></p>
                            <span class="delIcon"></span>
                        </div>
                        <div class="itemStatic">
                            <input class="nameStatic" maxlength="128">
                            <p class="valueStatic" id="v8"></p>
                            <span class="delIcon"></span>
                        </div>
                        <div class="itemStatic">
                            <input class="nameStatic" maxlength="128">
                            <p class="valueStatic" id="v9"></p>
                            <span class="delIcon"></span>
                        </div>
                        <div class="itemStatic">
                            <input class="nameStatic" maxlength="128">
                            <p class="valueStatic" id="v10"></p>
                            <span class="delIcon"></span>
                        </div>
                    </div>
                    <div class="clearConfirmWin">
                        <p class="messageeWin">Удалить данные?</p>
                        <div class="y">Удалить</div>
                        <div class="n">Отмена</div>
                    </div>
                </div>
            </div>
            <div class="grafics">
                <div class="nav_graf">
                    <div class="menu_graf">Давление</div>
                    <div class="menu_graf">Топливо</div>
                    <div class="menu_graf">Скорость</div>
                    <div class="menu_graf">График 4</div>
                    <div class="menu_graf">График 5</div>
                </div>

                <!--   <div class="im1"></div>-->
                <div class="noGraf">Нет данных за последние 24 часа</div>
                <div class="loader">
                    <span class="v">L</span>
                    <span class="v">O</span>
                    <span class="v">A</span>
                    <span class="v">D</span>
                    <span class="v">I</span>
                    <span class="v">N</span>
                    <span class="v">G</span>

                    <div class="covers">
                        <span class="v"></span>
                        <span class="v"></span>
                        <span class="v"></span>
                        <span class="v"></span>
                        <span class="v"></span>
                        <span class="v"></span>
                        <span class="v"></span>
                    </div>
                </div>

            </div>
        </main>
        <div class="account">
            <div class="accountControl">
                <h3 class="titleAccount">Настройка прав доступа</h3>
                <div class="low_modal">
                    <div class="singUpForm">
                        <h4 class="titleForm">Форма регистрации</h4>
                        <div class="sigup">
                            <%-include('signup') %>
                        </div>
                    </div>
                    <div class="listAccount">
                        <h4 class="titleForm">Список пользователей</h4>
                        <div class="listAccountReal">
                            <li class="usersTitle"><span class="loginTitle">Логин</span><span class="roleTitle">Права
                                </span> </li>

                        </div>
                    </div>
                    <span class="authClear">&#10006</span>
                </div>
                <p class="message"></p>
                <div class="clearConfirm">
                    <p class="messagee">Удалить пользователя?</p>
                    <div class="da">Удалить</div>
                    <div class="net">Отмена</div>
                </div>
            </div>
            <div class="profilUser">
                <h3 class="titleAccount">Профиль пользователя</h3>
                <div class="centerWrapper">
                    <div class="loginUser">
                        <div class="titleLogin">Логин</div>
                        <div class="nameUser"></div>
                    </div>
                    <div class="roleUser">
                        <div class="titleRole">Права доступа</div>
                        <div class="userRole"></div>
                    </div>
                    <div class="objectUser">
                        <div class="titleObject">Объекты</div>
                        <form class="check_boxs">
                            <p class="listTitless"><input class="checkIn" type="checkbox" rel="" value="all" id="all"
                                    checked>Все
                            </p>
                        </form>

                    </div>
                </div>
                <p class="messagech"></p>
                <div class="btnClick">
                    <div class="okey">OK</div>
                    <div class="close">Закрыть</div>
                </div>
                <div class="clearConfirmCheckModal">
                    <div class="messageeCheck">Сохранить изменения?</div>
                    <div class="dad">Да</div>
                    <div class="nent">Отмена</div>
                </div>

            </div>

        </div>
    </div>
    <!-- <script src="https://d3js.org/d3.v6.js"></script>-->



    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://hst-api.wialon.com/wsdk/script/wialon.js"></script>
    <script type="module" src="/js/main.js"></script>


</body>

</html>